docker/nodered/flows.json
[
    {
        "id": "warren-flow",
        "type": "tab",
        "label": "Warren",
        "disabled": false,
        "info": ""
    },
    {
        "id": "broker-mosquitto",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-warren",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "mqtt-sensors-in",
        "type": "mqtt in",
        "z": "warren-flow",
        "name": "warren/sensors/+/+",
        "topic": "warren/sensors/+/+",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker-mosquitto",
        "x": 130,
        "y": 100,
        "wires": [["fn-format-line-protocol"]]
    },
    {
        "id": "fn-format-line-protocol",
        "type": "function",
        "z": "warren-flow",
        "name": "Format line protocol",
        "func": "const parts = msg.topic.split('/');\nconst deviceId = parts[2];\nconst sensorType = parts[3];\n\nif (sensorType === 'announce') return null;\n\nconst value = parseFloat(msg.payload);\nif (isNaN(value)) return null;\n\nconst ts = Date.now();\nmsg.payload = `sensor_readings,device_id=${deviceId},sensor_type=${sensorType} value=${value} ${ts}`;\nmsg.headers = {\n    'Authorization': 'Token apiv3_my-super-secret-token',\n    'Content-Type': 'text/plain; charset=utf-8'\n};\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 100,
        "wires": [["http-write-influxdb"]]
    },
    {
        "id": "http-write-influxdb",
        "type": "http request",
        "z": "warren-flow",
        "name": "Write to InfluxDB",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://influxdb3:8086/api/v2/write?bucket=warren&precision=ms",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 580,
        "y": 100,
        "wires": [[]]
    }
]
